/* Header & Nav */
.header {
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 2;
  direction: rtl;
  padding: 1rem 0;
  transition: 0.3s;
  margin-top: 3rem;
}
.header.hide {
  top: -150px;
  margin: 0;
}
.header.active {
  background-color: var(--second-clr);
  margin: 0;
}
.header__li.active__link .header__link,
.header__li.active__link svg {
  color: var(--first-clr);
}
.nav {
  width: min(100% - 1rem, 1250px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
}

/* Header Links */
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  transition: 0.2s;
}
.header__li svg {
  color: white;
}
.header__link {
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  transition: 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.header__link::after {
  content: "";
  position: absolute;
  transform: scale(0);
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform-origin: right;
  background-color: var(--first-clr);
  transition: 0.2s;
}
.header__link:hover::after {
  transform: scale(1);
  color: var(--first-clr);
}
.header__link:hover {
  color: var(--first-clr);
}
/* End of Header Links */

/* Header end */
.header__end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__end svg {
  transition: 0.2s;
}
.header__end svg:hover {
  color: var(--first-clr);
}
.header__menu__btn {
  display: none;
}
.header__search {
  position: relative;
  transform: translateY(3px);
}
.header__search svg {
  font-size: 1.5rem;
  color: white;
}
.header__close,
.header__menu__btn,
.header__search {
  cursor: pointer;
}
.header__close,
.header__footer,
.header__social,
.logo__container__menu__hide,
.header__search__menu {
  display: none;
}
.logo__container__menu__show {
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
}
.header__search__menu {
  position: fixed;
  top: -200vh;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  direction: rtl;
  padding-top: 20%;
}
.header__search__menu.show__search {
  top: 0;
}
.search__form {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.search__input {
  border: none;
  outline: none;
  padding: 0.7rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.1rem;
  z-index: 4;
  transition: 0.2s;
  width: 100%;
}
.search__input:focus {
  border-bottom: 1px solid var(--first-clr);
}
.search__btn {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.4rem;
  font-size: 1.1rem;
  transition: 0.2s;
}
.search__btn:hover {
  color: var(--first-clr);
}
.dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  width: 80%;
}
.dropdown:empty {
  border: none;
}
.dropdown__row {
  cursor: pointer;
  text-align: right;
  margin: 2px 0;
  box-sizing: border-box;
  padding: 0.4rem 0.2rem;
  color: var(--second-clr);
  transition: 0.2s;
}
.dropdown__row:hover {
  background-color: lightgray;
}
.search__close {
  position: absolute;
  top: 5rem;
  left: 3rem;
  color: #07162d;
  display: block;
  cursor: pointer;
}
.search__close svg {
  font-size: 2rem;
}

@media (max-width: 1150px) {
  .logo__container__menu__show {
    top: 2rem;
  }
  .search__close {
    top: 3.5rem;
  }
  .header {
    margin-top: 2rem;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    transition: 0.3s;
  }
  .header__menu.show__menu {
    left: 0;
  }
  .header__links {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }
  .header__link {
    color: var(--second-clr);
  }
  .header__li {
    flex-direction: row;
  }
  .header__menu span {
    color: var(--second-clr);
    font-size: 0.8rem;
  }
  .header__link {
    color: #07162d;
    font-size: 0.8rem;
  }
  .header__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .header__social a {
    font-size: 1.2rem;
  }
  .youtube {
    color: #c4302b;
  }
  .twitter {
    color: #1da1f2;
  }
  .tiktok {
    color: #ff0050;
  }
  .snapchat {
    color: yellow;
  }
  .instagram {
    color: purple;
  }
  .header__close {
    position: absolute;
    top: 3.5rem;
    left: 1.5rem;
    color: #07162d;
    display: block;
  }
  .header__li svg {
    color: var(--second-clr);
  }
  .header__close svg {
    font-size: 2rem;
  }
  .header__menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .header__menu__btn span {
    font-size: 1rem;
    transition: 0.2s;
  }
  .header__menu__btn span:hover {
    color: var(--first-clr);
  }
  .header__menu__btn svg {
    font-size: 1.8rem;
  }
  .header__footer {
    display: block;
    color: #07162d;
  }
}
@media (max-width: 768px) {
  .logo__container__menu__show {
    top: 1rem;
    right: 1rem;
  }
  .header__menu.show__menu {
    padding-top: 3rem;
  }
  .search__close {
    top: 2.5rem;
    left: 1.5rem;
  }
  .header__close {
    top: 2.6rem;
  }
}
@media (max-width: 520px) {
  .header {
    margin-top: 1rem;
  }
  .header__search__menu {
    padding-top: 40%;
  }
  .header__icons svg {
    font-size: 1.1rem;
  }
  .header__links {
    align-items: flex-start;
    gap: 0.8rem;
    margin: 0;
  }
  .header__li {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .phone svg {
    font-size: 1.28rem;
  }
  .header__end {
    gap: 0.5rem;
  }
  .header__menu__btn span {
    display: none;
  }
  .header__end svg {
    font-size: 2.4rem;
  }
  .header__search svg {
    font-size: 2rem;
  }
}
