.container {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin: 0;
  padding: 0;
}
.container li {
  background-color: var(--first-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}
.container a {
  padding: 0.6rem;
  width: 100%;
  height: 100%;
  margin: 0;
}
.container .instagram:hover {
  background-color: purple;
}
.container .snapchat:hover {
  background-color: yellow;
}
.container .tiktok:hover {
  background-color: #ff0050;
}
.container .twitter:hover {
  background-color: #1da1f2;
}
.container .youtube:hover {
  background-color: #c4302b;
}
.container a svg {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container a {
    padding: 0.6rem;
  }
  .container a svg {
    font-size: 1.1rem;
  }
}
