.events {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: lightblue;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.info {
  flex: 1;
  max-width: 95%;
  margin: 0 auto;
  z-index: 1;
}
.time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.unit {
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: 0.2s;
  cursor: pointer;
}
.unit span {
  display: block;
  transition: 0.2s;
  background-color: var(--second-clr);
}
.unit__firstSpan {
  font-size: 35px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
.unit__lastSpan {
  padding: 8px 10px;
  font-size: 13px;
  color: white;
  border-top: 1px solid gray;
  border-radius: 0 0 5px 5px;
  transition: 0.2s;
}
.unit:hover,
.unit:hover .unit__lastSpan {
  border-color: var(--first-clr);
}
.unit:hover .unit__lastSpan,
.unit:hover .unit__firstSpan {
  color: var(--first-clr);
}
.title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 45px;
  color: var(--second-clr);
}
.description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.subscribe {
  width: 100%;
  margin-top: 50px;
}
.subscribe__form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  direction: rtl;
  flex-direction: column;
  grid-area: 2rem;
}
.form__field {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}
.email__input {
  padding: 20px;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  flex: 1;
  caret-color: var(--first-clr);
}
.email__input:focus {
  outline: none;
}
.email__input::placeholder {
  transition: opacity 0.2s;
}
.email__input:focus::placeholder {
  opacity: 0;
}
.submit__input {
  border-radius: 50px;
  border: none;
  background-color: #1f396c;
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.submit__input:hover {
  background-color: var(--first-clr);
}
@media (max-width: 767px) {
  .subscribe__form {
    width: auto;
    max-width: 100%;
    padding: 20px 0;
    flex-direction: column;
  }
  .title {
    font-size: 1.8rem;
  }
  .time {
    gap: 6px;
  }
  .unit {
    width: 62px;
  }
  .unit__firstSpan {
    font-size: 1.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .email__input {
    width: fit-content;
    margin: 0 auto;
  }
  .submit__input {
    width: fit-content;
    margin: 0 auto;
  }
}
