.fixed__btns {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.fixed__btn {
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  transition: 0.3s;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.fixed__btn:hover {
  transform: scale(1.05);
}
.fixed__btn.phone {
  background-color: green;
}
.fixed__btn.whats {
  background-color: #25d366;
}
.fixed__btn__svg {
  width: 1.7rem;
  height: 1.7rem;
  color: white;
}

@media (max-width: 768px) {
  .fixed__btns {
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .whats {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fixed__btn {
    padding: 0.8rem;
  }
  .fixed__btn__svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}
