.details__bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details__bg img {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.details__bg h1 {
  color: lightgray;
  font-size: 2.7rem;
  direction: rtl;
}

@media (max-width: 768px) {
  .details__bg h1 {
    font-size: 1.6rem;
  }
}
/* Details */
.details {
  display: flex;
  direction: rtl;
  margin: 4rem auto;
  padding: 0 1rem;
  gap: 2rem;
  max-width: min(1200px, 100%);
}
.details__info {
  flex: 4;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.details__info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  font-size: 2rem;
  margin: 1rem auto 0;
  padding-bottom: 0.5rem;
  color: var(--second-clr);
  border-bottom: 2px solid var(--first-clr);
}

/* Details Details */

.details__details h3,
.details__includes h3 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--first-clr);
}
.details__details h3 svg,
.details__includes h3 svg {
  color: var(--first-clr);
}
.details__day {
  border-bottom: 1px solid lightgray;
}
.details__day h4 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.details__day h4 svg {
  font-size: 0.6rem;
  color: var(--first-clr);
}
/* Details Contents */
.details__content ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.details__content li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.green {
  color: green;
}
.red {
  color: red;
}

/* Details From */
.details__form {
  flex: 2;
  padding: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  position: sticky;
  top: 2rem;
}
@media (max-width: 900px) {
  .details__form {
    display: none;
  }
}
.details__card__price {
  font-size: small;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  width: 100%;
}
.details__card__price div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.old__price {
  font-size: 0.7rem;
  color: gray;
  text-decoration: line-through;
}
.old__price span {
  font-size: 1rem;
}
.new__price {
  font-size: 1.4rem;
  color: var(--second-clr);
  font-weight: bolder;
}

.details__form__cards {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.details__form__cards div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.details__form__cards input {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  transition: 0.2s;
}
.details__form__cards input::placeholder {
  font-size: 1.2rem;
}
.details__form__cards input:hover,
.details__form__cards input:focus {
  border: 1px solid var(--first-clr);
}
.form__btn {
  padding: 0.5rem 0;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: var(--second-clr);
  border-radius: 10px;
  transition: 0.2s;
  font-size: 1rem;
}
.form__btn:hover {
  background-color: var(--first-clr);
}

/* Similar */
.similar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem 0;
  padding: 0 1rem;
  direction: rtl;
}
.similar__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: min(1200px, 100%);
}
.similar__card__container {
  width: 300px;
}
.similar__card {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  transition: 0.3s;
}
.similar__card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.similar__card:hover .similar__url__btns {
  display: flex;
}
.similar__img__container {
  position: relative;
  width: 100%;
  height: 270px;
}
.similar__img__container img {
  object-fit: cover;
  object-position: center;
}
.similar__card__price {
  font-size: small;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0.5rem;
  gap: 1rem;
}
.similar__card__price div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.similar__card__title {
  font-size: 1rem;
  margin: 0.4rem 0;
  cursor: pointer;
  color: var(--second-clr);
}
.similar__card__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
.similar__card__period {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  color: white;
  background-color: var(--first-clr);
  border-radius: 0.25rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.similar__card__period span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.similar__card__period svg {
  font-size: 0.9rem;
}
.similar__heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.stars svg {
  color: gold;
}
.similar__card__img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
  min-height: 290px;
}
.similar__card__content {
  padding: 1rem;
  border: 2px solid var(--first-clr);
  border-radius: 0 0 20px 20px;
}
.similar__card__btns {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
